<html>
    <head>
      <title>Vue Basic</title>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <h2>{{ title }}</h2> 
            <ul>
              <li v-for="item in items">{{ item }}</li>
            </ul>
            <div v-for="(doggy, index) in doggies">
              <p>{{ index }} - {{ doggy.name }}</p>
              <p>Age : {{ doggy.age }}</p>
              <p>Color : {{ doggy.color }}</p>
            </div>
        </div>
        <script src="event.js"></script>
    </body>
</html> 